/* Write some CSS below */
body {
	font-family: Overpass;
	color: black;
	font-size: 18px;
	margin: 0;
}

h1,h2,h3 {
	color:gray;
	font-family: Chivo;
}

a{
	text-decoration: none;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.banner {
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 150px 0;
}

.banner h1 {
	color: white;
	font-size: 45px;
	margin: 0;
}

.banner p {
	color: lightgray;
	font-size: 24px;
	opacity: 0.7;
}

.btn-blue {
	background-color: #0f3460;
	color: white;
	padding: 16px 48px;
	border-radius: 4px;
	font-size: 20px;
	font-weight: bold;
}

.btn-blue:hover {
	background-color: #e94560;
}

.container {
	width: 900px;
	margin: 60px auto;
}

.card-white {
	background: white;
	border-radius: 4px;
	padding: 24px;
	margin: 8px;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.card-white img {
	width: 100%;
	height: 180px;
	border-radius: 4px;
	object-fit: cover;
}

.card-white h3 {
	margin: 0;
}

.footer {
	color: white;
	background-color: black;
	text-align: center;
	padding: 10px 0px;
}

/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}
